.topbar {


    height: 74px;

    background: white;

    border-bottom: 1px solid #e2e8f0;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 28px;


}




.mobile-menu {


    display: none;

    border: none;

    background: none;

    cursor: pointer;


}




.topbar-search {


    display: flex;

    align-items: center;

    gap: 12px;

    background: #f8fafc;

    border: 1px solid #e2e8f0;

    padding: 12px 16px;

    border-radius: 12px;

    width: 360px;


}




.topbar-search input {


    border: none;

    outline: none;

    background: none;

    width: 100%;


}





.topbar-right {


    display: flex;

    align-items: center;

    gap: 20px;


}





.topbar-icon {


    width: 44px;

    height: 44px;

    border: none;

    border-radius: 12px;

    background: #f1f5f9;

    cursor: pointer;


}





.topbar-user {


    display: flex;

    align-items: center;

    gap: 10px;


}





.topbar-user span {


    display: block;

    color: #64748b;

    font-size: 13px;


}






@media(max-width:900px) {



    .mobile-menu {


        display: block;


    }



    .topbar-search {


        width: 180px;


    }



}






@media(max-width:600px) {



    .topbar {


        padding: 0 15px;


    }



    .topbar-search {


        display: none;


    }




    .topbar-user div {


        display: none;


    }


}